{% extends 'base.html' %}

{% block title %}Booking{% endblock title %}

{% block body %}

    <div class="container">
            <div style="width: 40%; margin: 25px auto;">
                <br><br>
            <h1 style="text-align: center">Enter your Booking Details</h1>
            
                <form action="/{{vehicle.vehicleID}}/book" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" type="datetime-local" name="datetime" placeholder="datetime" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="hours" type="number" name="hours" placeholder="hours" min="1" required>
                    </div>
                    <input type="hidden" id="cost" name="cost" value="{{ vehicle.cost }}">
                    <div class="form-group">
                        <label for="total">Total Cost : </label>
                        <input class="form-control" id="total" type="number" name="total" readonly value="0">
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                    </div>
                </form>
            </div>
    </div>

    <script>
        function calculateTotal(){
            var total = ($("#cost").val()*$("#hours").val())
            $("#total").val(total);
        }
        $(document).ready(function()
        {
            $("#hours").on("change keyup",calculateTotal)
        })
    </script>
    
{% endblock body %}
