{% extends 'base.html' %}

{% block title %}Vehicles{% endblock title %}

{% block body %}


<div class="container">	
  <header class="jumbotron">
    <div>
        <h1>
            The Fleet
        </h1>
        <p>
          Easy & Quick Online Booking. Clean & Well Maintained Fleet.
        </p>
      </div>
  </header>



  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
      Filter
    </button>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
      Sort
    </button>
  </p>
  <div class="collapse" id="collapseExample1">
    <div class="card card-body">
      <form action="/cars/" method="post">
        {% csrf_token %}
      <div class="container">
        <div class="row">
          <div class="col">
            <div>Seats:</div>
          </div>
          <div class="col">
            <div>Mileage:</div>
          </div>
        </div>
        <div class="row">
          <div class="col-5">
            <div id="seats"></div>
          </div>
          <div class="col-1"></div>
          <div class="col-6">
            <div id="mileage"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-1" id="lower-seats"></div>
          <input type="hidden" id="seats-lower" name="seats-lower">
          <div class="col-3"></div>
          <div class="col-1" id="upper-seats"></div>
          <input type="hidden" id="seats-upper" name="seats-upper">
          <div class="col-1"></div>
          <div class="col-1" id="lower-mileage"></div>
          <input type="hidden" id="mileage-lower" name="mileage-lower">
          <div class="col-4"></div>
          <div class="col-1" id="upper-mileage"></div>
          <input type="hidden" id="mileage-upper" name="mileage-upper">
        </div>
        <div class="row">
          <div class="col">
            Cost:
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div id="price"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-1">
            <div id="lower-price"></div>
            <input type="hidden" id="price-lower" name="price-lower">
          </div>
          <div class="col-9"></div>
          <div class="col-2" style="text-align: right;">
            <div id="upper-price"></div>
            <input type="hidden" id="price-upper" name="price-upper">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-success btn-sm">Apply!</button>
          </div>
        </div>
      </div>
      </form>
      
      
      
    </div>
  </div>
    <div class="collapse" id="collapseExample2">
      <div class="card card-body">
        Sort Me !
      </div>
    </div>
  
    <script>

var seats = document.getElementById('seats');
    
    noUiSlider.create(seats, {
        start: [0, 10],
        step: 1,
        connect: true,
        range: {
            'min': 0,
            'max': 10
        }
    });
    var nodes1 = [
  document.getElementById('lower-seats'), // 0
  document.getElementById('upper-seats')  // 1
];

seats.noUiSlider.on('update', function (values, handle, unencoded, isTap, positions) {
  nodes1[handle].innerHTML = values[handle] ;
});

var mileage = document.getElementById('mileage');
    
    noUiSlider.create(mileage, {
        start: [0, 30],
        connect: true,
        range: {
            'min': 0,
            'max': 30
        }
    });
    var nodes2 = [
  document.getElementById('lower-mileage'), // 0
  document.getElementById('upper-mileage')  // 1
];

mileage.noUiSlider.on('update', function (values, handle, unencoded, isTap, positions) {
  nodes2[handle].innerHTML = values[handle] ;
});

      var price = document.getElementById('price');
    
      noUiSlider.create(price, {
          start: [0, 30000],
          step: 100,
          connect: true,
          range: {
              'min': 0,
              'max': 30000
          }
      });
      var nodes3 = [
    document.getElementById('lower-price'), // 0
    document.getElementById('upper-price')  // 1
];

price.noUiSlider.on('update', function (values, handle, unencoded, isTap, positions) {
    nodes3[handle].innerHTML = values[handle] ;
});

    
    $(document).ready(function() { 
                $("body").click(function() { 
                  var seatslower = document.getElementById('lower-seats').textContent;
                  $('#seats-lower').val(seatslower);
                  var seatsupper = document.getElementById('upper-seats').textContent;
                  $('#seats-upper').val(seatsupper);
                  var mileagelower = document.getElementById('lower-mileage').textContent;
                  $('#mileage-lower').val(mileagelower);
                  var mileageupper = document.getElementById('upper-mileage').textContent;
                  $('#mileage-upper').val(mileageupper);
                  var pricelower = document.getElementById('lower-price').textContent;
                  $('#price-lower').val(pricelower);
                  var priceupper = document.getElementById('upper-price').textContent;
                  $('#price-upper').val(priceupper);
                }); 
            }); 
    
    </script>

  <div class="container my-3">
    <div class="row">
      {% for vehicle in vehicle_list %}
      
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src=" {{vehicle.imageurl }}"  style="width:550px;height:250px;" class="d-block w-100" alt="...">
            
            <div class="card-body">
              <h5 class="card-title">{{ vehicle.make }} {{ vehicle.model }}</h5>
              <div class="d-flex justify-content-between align-items-center">
                
                <div class="btn-group">
                  <a href="/{{vehicle.vehicleID}}" class="btn btn-primary">More Info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      {% endfor %}
      {% if message %}
        <h1>{{ message }}</h1>
      {% endif %}
      </div>
    </div>
    
</div>

{% endblock body %}