{% extends 'base.html' %}

{% block title %}User Dashboard{% endblock title %}

{% block body %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.3.1/jszip-2.5.0/dt-1.10.22/af-2.3.5/b-1.6.5/b-colvis-1.6.5/b-flash-1.6.5/b-html5-1.6.5/b-print-1.6.5/cr-1.5.2/fc-3.3.1/fh-3.1.7/kt-2.5.3/r-2.2.6/rg-1.1.2/rr-1.2.7/sc-2.0.3/sb-1.0.0/sp-1.2.1/sl-1.3.1/datatables.min.js"></script>
<script>
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('#example tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        } );
    
        // DataTable
        var table = $('#example').DataTable({
            initComplete: function () {
                // Apply the search
                this.api().columns().every( function () {
                    var that = this;
    
                    $( 'input', this.footer() ).on( 'keyup change clear', function () {
                        if ( that.search() !== this.value ) {
                            that
                                .search( this.value )
                                .draw();
                        }
                    } );
                } );
            }
        });
    
    } );
</script>

{% if message %}
    <h1 style="text-align: center;">{{ message }}</h1>
{% else %}

<div class="container" style="margin-top:30px ; margin-bottom: 30px;">
    <table id="example" class="display table table-hover table-bordered table-dark" style="text-align: center; background-color: black;">
        <thead>
            <tr>
                <th scope="col">Vehicle</th>
                <th scope="col">Cost</th>
                <th scope="col">Booked For</th>
                <th scope="col">Hours</th>
                <th scope="col">Total Cost</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>


{% for booking in booking_list %}

        
            <tr>
                <th scope="row">{{ booking.VehicleID.make }} {{ booking.VehicleID.model }}</th>
                <td>{{ booking.VehicleID.cost }}</td>
                <td>{{ booking.start }}</td>
                <td>{{ booking.hours }}</td>
                <td>{{ booking.total }}</td>
                <td> {% if booking.status %}
                        <a href="/booked" class="btn btn-primary">Return</a> 
                    {% else %}
                        Returned 

                    {% endif%} </td>
            </tr>
        

{% endfor %}


        </tbody>
        <tfoot>
            <tr>
                <th>Vehicle</th>
                <th>Cost</th>
                <th>Booking For</th>
                <th>Hours</th>
                <th>Total Cost</th>
            </tr>
        </tfoot>
    </table>
{% endif %}
</div>




    
{% endblock body %}