{% extends 'base.html' %}

{% block title %}Graph{% endblock title %}

{% block body %}
  <div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('container', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Amount Earned for each Vehicle'
      },
      xAxis: {
          categories: {{ categories|safe }}
      },
      series: [ {
          name: 'Amount Earned',
          data: {{ amount_series }},
          color: 'blue'
      }] 
    });
</script>

<br><br><br><br><br><br><br>

<div id="container1"></div>
<script>
  Highcharts.chart('container1', {
      chart: {
          type: 'column'
      },
      title: {
          text: 'Hours driven in each Vehicle'
      },
      xAxis: {
          categories: {{ categories|safe }}
      },
      series: [{
          name: 'Hours Driven',
          data: {{ hours_series }},
          color: 'red'
      } ] 
    });
</script>

{% endblock body %}
